@light-blue: rgb(30, 127, 206);
@dark-blue: rgb(47, 76, 114);
@light-gray: rgb(220, 220, 220);
@faded-purple: rgb(124, 83, 118);

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: @light-gray;
}

#application {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(185deg, rgb(47, 82, 124), rgb(11, 35, 68));
}

#login {
    height: 100vh;
    width: 100vw;
    background-color: @faded-purple;
}

#top-menu {
    display: grid;
    grid-template-columns: auto 100px;
    width: 100vw;
    margin-bottom: 5%;
    color: @light-gray;
    background-image: linear-gradient(240deg, rgba(5, 38, 83, 0.781), @light-blue 130px);
    background-color: @light-blue;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.863);
    font-size: 1.25em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    > ul {
        list-style: none;
        display: flex;
        padding-left: 50px;
        padding-right: 50px;

        > li {
            padding: 20px 40px 20px;
            border-right: solid 2px @light-gray;
        }

        li:nth-child(3), li:nth-last-child(1) {
            border: none;
        }

        li:nth-child(4) {
            margin-left: auto;
        }

        li:hover {
            transition: 400ms;
            text-shadow: 1px 1px 0px black;
            background-color: rgba(199, 23, 199, 0.342);
            cursor: pointer;
        }

        li:not(:hover) {
            transition: 400ms;
            background-color: @light-blue;
        }
    }
}

.user-image {
    display: block;
    height: 55px;
    width: 55px;
    background-color: @dark-blue;
    object-fit: cover;
    border: solid 0px @light-gray;
    border-radius: 10%;
    align-self: center;
}

#board {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    display: grid;
    grid-gap: 2%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 1em 1em 1em 1em;
    height: 70%;
    width: 50%;
    background-color: rgb(70, 70, 70);
    border: solid 3px black;
    border-radius: 15px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.781);
}

.boxes {
    display: flex;
    height: 95%;
    width: 100%;
    border: solid 3px black;
    border-radius: 10px;
    box-shadow: -2px 1px 5px black;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    > a {
        color: black;
    }
}

.outstanding {
    transition: 200ms;
    background-color: rgb(172, 172, 172);

    &:hover {
        transition: 400ms;
        background-color: aliceblue;
        box-shadow: 0px 0px 20px rgba(136, 174, 209, 0.589);
        cursor: pointer;
    }
}

.acquired {
    transition: 200ms;
    background-color: rgb(71, 155, 71);

    &:hover {
        transition: 400ms;
        background-color: chartreuse;
        box-shadow: 0px 0px 20px rgba(172, 255, 47, 0.514);
        cursor: pointer;
    }
}
